<mat-card>Ingrese los datos del staff</mat-card>

<br>


<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmStaff="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" required formControlName="firtsName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido" required formControlName="lastName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Telefono" required formControlName="dni" type="phone">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" required formControlName="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Clave" required formControlName="password">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Inicio" required formControlName="joinDate" type="date" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Salida" required formControlName="leftDate" type="date" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Tickets" required formControlName="maxTicket" type="number" >
  </mat-form-field>

  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="frmStaff.invalid">-->
  <button mat-raised-button color="primary" type="submit" >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/staff' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>
