<mat-card>Ingrese los datos del usuario</mat-card>

<br>


<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmUser="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" required formControlName="firtsName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido" required formControlName="lastName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" required formControlName="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Contraseña" required formControlName="password">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Telefono" required formControlName="phone">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Tipo" required formControlName="userTypeId">
  </mat-form-field>


  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="frmUser.invalid">-->
  <button mat-raised-button color="primary" type="submit" >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/user' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>
