<mat-card>Ingrese los datos del Equipo</mat-card>

<br>


<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmEquipment="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Fecha de Adquisicion" required formControlName="acquisitionDated" type="Date">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Fecha de Retiro" required formControlName="retirementDate" type="Date">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Code" required formControlName="code">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" required formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Descripcion" required formControlName="description">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Manufactura" required formControlName="manufactureName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Otros Detalles" required formControlName="otherDetails">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Tipo de Equipo" required formControlName="equipTypeId">
  </mat-form-field>

  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="frmEquipment.invalid">-->
  <button mat-raised-button color="primary" type="submit" >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/equipment' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>
