<mat-card>Ingrese los datos del ticket</mat-card>

<br>


<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmTicket="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Fecha" required formControlName="solutionDate" type="date">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Problema" required formControlName="problemId">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Prioridad" required formControlName="priorityId">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Status" required formControlName="statusId">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Staff" required formControlName="staffId">
  </mat-form-field>


  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="frmTicket.invalid">-->
  <button mat-raised-button color="primary" type="submit" >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/ticket' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>
